html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  display: block;
}

button, input[type="color"] {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #444;
  color: #fff;
  font-size: 16px;
}

button:hover {
  background-color: #666;
}
