:root {
--clr-dark: black;
--clr-light: white;
--clr-accent: #e11d48;
--sidebar--height: 18.75rem;
--sidebar--width: 143.75rem;
--about--height: 4rem;
}

@font-face {
font-family: 'FragmentMono';
src: url('./FragmentMono-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

.styled-button {
width: 12.5rem;
height: 5.5rem;
background-color: #DB3EB1;
border: none;
color: black;
padding: 0.5rem;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.375rem;
letter-spacing: 0.0875rem;
word-spacing: 0.175rem;
font-weight: 650;
font-family: "FragmentMono", monospace;
cursor: pointer;
transition: background-color 0.3s ease;
border-radius: 0.25rem;
margin: 1rem;
}

.styled-button:hover {
background-color: black;
color: white;
}

.about-button {
font-size: 1.375rem;
letter-spacing: 0.0875rem;
word-spacing: 0.175rem;
font-weight: 650;
font-family: "FragmentMono", monospace;
width: 12.5rem;
height: 5.5rem;
background-color: rgba(77,77,255,1);
border: none;
color: black;
padding: 0.5rem;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
transition: background-color 0.3s ease;
border-radius: 0.25rem;
}

.about-button:hover {
background-color: black;
color: white;
}

.styled-input {
font-family: "Roboto", sans-serif;
width: 100%;
box-sizing: border-box;
font-size: 1.75rem;
padding: 0.25rem;
}

.styled-fontinput {
text-align: left;
font-family: "FragmentMono", monospace;
width: 100%;
padding: 0.25rem;
margin: 0.5rem 0;
box-sizing: border-box;
font-size: 1.75rem;
outline: none;
}

.styled-input::placeholder {
color: #DDB13E;
}

.styled-input:focus {
caret-color: black;
}

::-webkit-scrollbar {
width: 1rem;
height: 1rem;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background-color: #DB3EB1;
border: 0.375rem solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
background-color: black;
}

.form-group {
display: flex;
flex-direction: column;
margin-bottom: 1.25rem;
}

.label-output {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1.25rem;
}

.label-output label {
margin-right: 1.25rem;
min-width: 25rem;
text-align: left;
}

input[type=range] {
-webkit-appearance: none;
width: 100%;
height: 0.25rem;
background: #DB3EB1;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
margin-bottom: 1.25rem;
}

input[type=range]:hover {
opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 2.25rem;
height: 1rem;
background: rgba(77,77,255,1);
cursor: pointer;
border-radius: 0.25rem;
box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-thumb {
width: 1.5rem;
height: 1rem;
background: #DB3EB1;
cursor: pointer;
border-radius: 0.25rem;
box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

@font-face {
font-family: 'Fanwood';
src: url('Fanwood.otf') format('opentype');
font-weight: normal;
font-style: normal;
}

body {
font-size: 1.375rem;
margin: 0;
padding: 0;
line-height: 2.4;
letter-spacing: 0.0875rem;
word-spacing: 0.175rem;
font-weight: 650;
font-family: "FragmentMono", monospace;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
width: 100vw;
height: 100vh;
margin: 0 auto;
display: flex;
flex-direction: column;
padding: 0.125rem;
align-content: center;
overflow-x: scroll;
overflow-y: scroll;
}

.sidebar, .sidebar-about {
text-align: center;
border-radius: 0.5rem;
display: flex;
box-sizing: border-box;
position: fixed;
bottom: 0;
overflow-x: auto;
}

.sidebar {
flex-direction: row;
align-items: center;
justify-content: center;
flex-shrink: 0;
margin-bottom: 4.5rem;
background-color: rgba(68,214,44,0.8);
height: var(--sidebar--height);
width: var(--sidebar--width);
position: fixed;
bottom: 0;
left: 50%;
transform: translateX(-50%);
z-index: 1;
overflow-x: hidden;
overflow-y: hidden;
}

.sidebar-about {
flex-direction: column;
margin-bottom: 10vh;
height: var(--about--height);
width: var(--sidebar--height);
padding-left: 1.25rem;
left: calc(10% + 85vw);
z-index: 2;
justify-content: flex-start;
}

.sidebar_section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 1.25rem;
flex: 1;
box-sizing: border-box;
}

.sidebar_sectionLogo {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0 5rem 1.25rem 1.25rem;
box-sizing: border-box;
}

.sidebar_sectionButtons {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0 2.5rem 1.25rem 6.25rem;
box-sizing: border-box;
}

.canvas {
flex: 1;
max-height: calc(100vh - var(--sidebar--height));
margin-bottom: var(--sidebar--height);
}

output {
min-width: 5rem;
text-align: right;
}

.popup {
display: none;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(6px);
z-index: 3;
justify-content: center;
align-items: flex-start;
overflow-x: auto;
padding: 17.5rem;
}

.popup-content {
font-size: 2.25rem;
font-family: 'FragmentMono', monospace;
color: black;
font-weight: 800;
width: 100%;
max-width: 100vw;
text-align: left;
}

.close-btn {
color: black;
float: right;
font-size: 3.75rem;
font-weight: bold;
cursor: pointer;
}

.close-btn:hover {
color: black;
}
