:root {
    --clr-dark: black;
    --clr-light: white;
    --clr-accent: #e11d48;
    --sidebar--height: 9.375rem;
    --sidebar--width: 71.875rem;
    --about--height: 2rem;
}

@font-face {
    font-family: 'FragmentMono';
    src: url('./FragmentMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.styled-button {
    width: 6.25rem;
    height: 2.75rem;
    background-color: #DB3EB1;
    border: none;
    color: black;
    padding: 0.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6875rem;
    letter-spacing: 0.04375rem;
    word-spacing: 0.0875rem;
    font-weight: 650;
    font-family: "FragmentMono", monospace;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0.125rem;
    margin: 0.5rem;
}

.styled-button:hover {
    background-color: black;
    color: white;
}

.about-button {
    font-size: 0.6875rem;
    letter-spacing: 0.04375rem;
    word-spacing: 0.0875rem;
    font-weight: 650;
    font-family: "FragmentMono", monospace;
    width: 6.25rem;
    height: 2.75rem;
    background-color: rgba(77,77,255,1);
    border: none;
    color: black;
    padding: 0.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0.125rem;
}

.about-button:hover {
    background-color: black;
    color: white;
}

.styled-input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.875rem;
    padding: 0.125rem;
}

.styled-fontinput {
    text-align: left;
    font-family: "FragmentMono", monospace;
    width: 100%;
    padding: 0.125rem;
    margin: 0.25rem 0;
    box-sizing: border-box;
    font-size: 0.875rem;
    outline: none;
}

.styled-input::placeholder {
    color: #DDB13E;
}

.styled-input:focus {
    caret-color: black;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #DB3EB1;
    border: 0.1875rem solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
}

.label-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}

.label-output label {
    margin-right: 0.625rem;
    min-width: 12.5rem;
    text-align: left;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 0.125rem;
    background: #DB3EB1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 0.625rem;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.125rem;
    height: 0.5rem;
    background: rgba(77,77,255,1);
    cursor: pointer;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-thumb {
    width: 0.75rem;
    height: 0.5rem;
    background: #DB3EB1;
    cursor: pointer;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'Fanwood';
    src: url('Fanwood.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 0.6875rem;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    letter-spacing: 0.04375rem;
    word-spacing: 0.0875rem;
    font-weight: 650;
    font-family: "FragmentMono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.0625rem;
    align-content: center;
    overflow-x: scroll;
    overflow-y: scroll;
}

.sidebar, .sidebar-about {
    text-align: center;
    border-radius: 0.25rem;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    overflow-x: auto;
}

.sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 2.25rem;
    background-color: rgba(68,214,44,0.8);
    height: var(--sidebar--height);
    width: var(--sidebar--width);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar-about {
    flex-direction: column;
    margin-bottom: 5vh;
    height: var(--about--height);
    width: var(--sidebar--height);
    padding-left: 0.625rem;
    left: calc(10% + 85vw);
    z-index: 2;
    justify-content: flex-start;
}

.sidebar_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625rem;
    flex: 1;
    box-sizing: border-box;
}

.sidebar_sectionLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem 0.625rem 0.625rem;
    box-sizing: border-box;
}

.sidebar_sectionButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem 0.625rem 3.125rem;
    box-sizing: border-box;
}

.canvas {
    flex: 1;
    max-height: calc(100vh - var(--sidebar--height));
    margin-bottom: var(--sidebar--height);
}

output {
    min-width: 2.5rem;
    text-align: right;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    z-index: 3;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
    padding: 8.75rem;
}

.popup-content {
    font-size: 1.125rem;
    font-family: 'FragmentMono', monospace;
    color: black;
    font-weight: 800;
    width: 100%;
    max-width: 100vw;
    text-align: left;
}

.close-btn {
    color: black;
    float: right;
    font-size: 1.875rem;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}
