body {
  font-family: 'Consola', monospace;
  src: url('/CONSOLA.TTF') format('truetype');
  background: #f5f5f5;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2rem;
  justify-content: center;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 200px;
}

input[type="color"] {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button {
  padding: 0.5rem 1.2rem;
  border-radius: 2px;
  border: none;
  background: #2b2b2b;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

button:hover {
  background: #888888;
}

label {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 1rem;
}

#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#maxPointsValue {
  display: inline-block;
  width: 3ch;
  text-align: right;
}

#strokeWidthValue {
  display: inline-block;
  width: 3ch;
  text-align: right;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

label {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

input[type="range"] {
  width: 150px;
}

#stickValue, #maxPointsValue {
  display: inline-block;
  width: 4ch;
  text-align: right;
}

input, select, button, textarea {
  font-family: 'Consola', monospace;
  font-size: 0.9rem;
}

#menu button,
#menu input[type="range"],
#menu select {
  width: 140px;
  min-width: 140px;
  box-sizing: border-box;
}

#menu input[type="color"] {
  width: 40px;
  min-width: 40px;
}
