/* BASE STYLES */
:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            height: 8px;
            background: #ddd;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
            margin-bottom: 10px;
        }

        input[type=range]:hover {
            opacity: 1;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background: #4CAF50;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }

        input[type=range]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background: #4CAF50;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }

        /* Style for the output values */
        output {
            display: inline-block;
            width: 30px;
            text-align: center;
            font-weight: bold;
            color: #333;
        }

@font-face {
    font-family: 'Fanwood';
    src: url('Fanwood.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "Fanwood";
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
}

/* END OF BASE STYLES */
.container {
    display: flex;
}

.sidebar {
    background-color: #fb7185;
    padding: 0.5em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    flex: 0 0 var(--sidebar--width);
    align-content: flex-start;
}

.sidebar_section {
    align-content: flex-start;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.canvas {
    height: 100vh;
    background-color: #fb7185;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
    
    flex-grow: 1;
}