html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #d3d3d3;
  font-family: sans-serif;
}

#container {
  display: flex;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
}

#canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#canvas-wrapper {
  width: 1080px;
  height: 1920px;
  transform-origin: center center;
  flex-shrink: 0;
}

#ui-container {
  width: 232px;
  max-width: 100%;
  overflow-y: auto;
  padding-right: 8px;
  box-sizing: border-box;
  color: #000;
}

#ui-container p {
  margin: 6px 0 10px;
}

#ui-container::-webkit-scrollbar {
  width: 8px;
}
#ui-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 4px;
}

@media (max-width: 900px) {
  #container {
    flex-direction: column;
  }

  #canvas-container {
    max-width: 100%;
    height: 50vh;
  }

  #ui-container {
    width: 100%;
    height: 50vh;
  }
}

/* ---- p5 slider styling ---- */
#ui-container input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  height: 6px;
  background: linear-gradient(
    to right,
    #000 0%,
    #666666 50%,
    #666666 50%,
    #bbb 100%
  );
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

/* Chrome / Safari */
#ui-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

/* Firefox */
#ui-container input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.ui-group {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #b7b7b7;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.ui-group-title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.ui-label {
  font-size: 14px;
  text-transform: lowercase;
  opacity: 0.75;
  margin: 4px 0 px;
}


.svg-logo {
  position: absolute;
  color: #000;
  pointer-events: none;
}

#logo-zg {
  left: 42px;
  top: 1228px;
  width: 62.134px;
}

#logo-npk {
  left: 150px;
  top: 1228px;
  width: 168.9444px;
}